body {
  margin: 0;
  padding: 0;
  background: url("../images/bakrundsbild.png") no-repeat center center fixed;
  background-size: cover;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.hero {
  margin-top: 10vh;
}

.logo {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.slogan {
  font-size: 1.2em;
  font-weight: 300;
}
